$cfff: #fff;
$c0603: #060336;
$c4f45: #4f45eb;
$c4444: #444444;
$c7377: #73779c;
$cf7f6: #f7f6ff;
$c6a6a: #6a6a6a;
$c66da: #66daff;
$cb493: #b493ff;
$c9595: #959595;
$cf1f1: #f1f1f1;
$c2da3: #2da347;
$c0c76: #0c76b4;
$c3b5a: #3b5a98;
$c54ac: #54acee;
$cf8f9: #f8f9fd;
$c6c8d: #6c8dff;
$cf0ea: #f0eaff;

// font weight
$regular: 400;
$medium: 500;
$black: 700;
$bold: 900;
